@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.main{
    background-color: #FFFFFF;
}
h1,h6,p{
    font-family: 'Sriracha',handwriting;
    font-weight: 400;
    font-style: normal;
    color: #3E1F55;
}
 